{{>header}}
    <h1>{{title}}</h1>

    <div class="search-container">
        <input type="text" id="location" name="location" placeholder="Enter the location" autocomplete="off" />
        <button id="get-location" title="Search">Search</button>
        <p class="success-msg hidden"></p>
        <p class="error-msg hidden">Please provide a address.</p>
    </div>

{{>footer}}