            </main>
            <footer>
                <p>Created by <span style="font-style: italic;">{{author}}</span></p>

                <p>&copy; <span id="copyright-year"></span> My First Web Page with Handlebars</p>
            </footer>
        <script src="/js/main.js" type="text/javascript"></script>
    </body>
</html>